* {
    background-color: black;
    font-family: Verdana;
}
h1 {
    font-size: 50px;
    font-weight: normal;
    color: white; 
    text-align: center;
}
p {
    font-size: 21px;
    color: grey;
    text-align: center;
}
nav {
    text-align: center;
    color: Aquamarine;
    font-size: 16px;
}
footer {
    text-align: right;
    color: grey;
}
